body {
    background-image: url("../images/logo.jpeg");  /* Ścieżka względem folderu CSS */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-panel {
    width: 22%;
    display: flex; /* Użyj flexbox do ułożenia przycisków w rzędzie */
  flex-direction: column; /* Ustaw elementy w poziomie */
  overflow-y: auto; /* Włącz przewijanie poziome, gdy zawartość jest za długa */
  border: 1px solid #ccc; /* Cienka szara ramka (możesz zmienić kolor) */
  border-radius: 15px; /* Zaokrąglone rogi (dostosuj wartość do preferencji) */
  padding: 10px; /* Dopełnienie wewnątrz ramki, aby przyciski nie dotykały krawędzi */
  gap: 10px; /* Odstępy między przyciskami (dostosuj wartość) */
  background-color: transparent; /* Opcjonalne tło paska */
}
.left-panel a.btn-custom {
    display: block;
  /* Dodaj style dla samych przycisków według potrzeb */
  padding: 8px 15px;
  border: 1px solid #ddd; /* Opcjonalna cienka ramka dla każdego przycisku */
  border-radius: 8px; /* Zaokrąglone rogi przycisków */
  background-color: #fff; /* Domyślny kolor tła przycisków */
  color: #333; /* Domyślny kolor tekstu przycisków */
  white-space: nowrap; /* Zapobiega zawijaniu tekstu w przyciskach */
  cursor: pointer; /* Zmień kursor na wskaźnik, aby wskazać, że są klikalne */
}
.grid-buttons {
    display: grid;
    background-color: red ;
    padding: 10px;
    margin: 10px;
    border-width: 10px;
    border-radius: 10px;
    color: aqua;
    gap: 10px;
}

.center-panel {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

.right-panel {
    width: 30%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-custom {
    background-color: #E14B4B;
    color: #F2F2EB;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
    text-align: left;
}

.btn-custom:hover {
    background-color: darkred;
}