* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #4ac1f7;

}


.grid-container {
  background: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
  display: grid;
  width: 100vw;
  max-width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  gap: 10px;
  min-height: 100vh;
  width: 100vw; /* Używamy pełnej szerokości viewport */
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0; /* Tymczasowe - aby zobaczyć kontener */
}

.header {
  grid-column: 1 / -1;
  padding: 5px;
  text-align: center;
  border-radius: 10px ;
}
#header_logo{
  border-radius: 25px;
  margin: 5px;
  border: 2px;
  border-color: #1a1a1a;
}

#l_header_logo{
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
    border: 10px;
    border-color: #1a1a1a;

}


.info-bar {
  grid-column: 2 / 3; /* Zajmuje środkową kolumnę */
  /* Dodaj style wizualne i wysokość */
  background-color: lightblue; /* Przykład koloru tła */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.left-panel {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding: 15px;
  background: linear-gradient(to bottom,  #F2F2EB,#E14B4B);
  border-radius: 8px;
}

.content {
  grid-column: 2 / 3; /* Główna treść zajmuje drugą kolumnę */
  grid-row: 3 / 4; /* Rozciąga się na odpowiednie wiersze */
  /* Dodaj style głównej treści */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.sidebar-right {
  grid-column: 3 / 4;
  grid-row: 2 / 5; /* Rozciąga się teraz do stopki */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.bottom-content {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding: 15px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
}

.footer {
  grid-column: 1 / -1;
  padding: 20px;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
}

/*a.link_but_button {*/
/*    background-color: #E14B4B;*/
/*    color: #F2F2EB;*/
/*    border: none;*/
/*    font-weight: bold;*/
/*    border-radius: 5px;*/
/*    width: 100%;*/
/*    transition: background-color 0.3s ease;*/
/*    text-align: left;*/
/*}*/

a.link_but_button {
  display: grid;
  padding: 10px 20px;
  background-color: #E14B4B;
  color: #F2F2EB;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  border: 2px;
  font-weight: bold;
  margin: 10px;
  margin-right: 15px;

}

#header_logo{
  display: grid;
  width: 100vw;
  max-width: 100%;
  grid-template-columns: 1fr 4fr 200px;
  grid-template-rows: auto auto 1fr auto auto;
  border: 15px;
  border-color: #4ac1f7;
  background-color: #F2F2EB;
}


.center_header{
  display: flex;
  justify-content: left;
  align-items: center;
}

